<div class="panel panel-info" id="address-list">
    <div class="panel-heading">Addresses</div>
        <div id="addressWidget" data-prototype="{% filter escape %}{% include 'TruckeeProjectmanaBundle:Address:address_prototype.html.twig' with {'form': form.addresses.vars.prototype} %}{% endfilter %}"></div>
    <div id="addressForm">
    {%for address in form.addresses%}
        <div class="panel-body">
            <div class="row">
                <div class="col-md-2">
                    {{ form_row(address.addresstype) }}
                </div>
                <div class="col-md-4">
                    {{ form_row(address.line1) }}
                </div>
                <div class="col-md-4">
                    {{ form_row(address.line2) }}
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                    {{ form_row(address.city) }}
                </div>
                <div class="col-md-2">
                    {{ form_row(address.county) }}
                </div>
                <div class="col-md-2">
                    {{ form_row(address.state) }}
                </div>
                <div class="col-md-2">
                    {{ form_row(address.zip) }}
                </div>
            </div>
        </div>
    {%endfor%}
    </div>
    <div class="panel-body">
        <a class="btn-sm btn-info" href="#" id="add-address">Add address</a>
    </div>
</div>
