
<div class="panel-heading clearfix">
    <div class="row">
        <div class="col-md-3">
            <div class="panel-title">
                {{ title }}<br>
                ID: {{household.id}}; Head: <span id="household_heading">{{household.head.fname}} {{household.head.sname}}</span>
                {% if household.dateAdded is not null %}<br> Date added: {{ household.dateAdded|date('m/d/Y') }}{% endif %}
            </div>
        </div>
        <div class="col-md-5">
            {{ knp_menu_render('household', {'style': 'navbar'}) }}
        </div>
    </div>
</div>
