<li><br><b>Relation: </b>{{ form_widget(member.relation, {'attr': {'class':'smallform'}}) }}</li>
<li><br><b>Work: </b>{{ form_widget(member.work, {'attr': {'class':'smallform'}}) }}</li>
<li><b>Criminal history: </b>{{ form_widget(member.offences, {'attr': {'class':'smallform-checkbox'}}) }}</li>
{#<li><br><b>Insurance: </b>{{ form_widget(member.insurance, {'attr': {'class':'smallform'}}) }}</li>
<li><br><b>Shots: </b>{{ form_widget(member.shots, {'attr': {'class':'smallform'}}) }}</li>#}
