    {% set isHead = false %}
{% if member.id == hohId %}{% set isHead = true %}{%endif%}
{#<div>#}
<div class="panel-body"{% if isHead %} style="background-color: lightyellow;"{% endif %}>
    <div class="col-md-1">
        {% if member.excludeDate is null %}
            <a href="#" class="btn-sm btn-info" id="memberId{{member.id}}">Edit</a>
        {% endif %}
    </div>
    <div class="col-md-2" id="include{{member.id}}">
        {% if member.include and isHead %}
            <b>Head </b>
        {% elseif member.include and not isHead %}
            <b>Include: </b>{{ member.include ? 'Yes' : 'No' }}
        {% else %}
            <b>Excluded: </b> {{member.excludeDate|date('m/d/Y') }}
        {% endif%}
    </div>
    <div class="col-md-3">
        <b>First name: </b><span id="fname{{member.id}}">{{ member.fname }}</span>
    </div>
    <div class="col-md-3">
        <b>Last name: </b> <span id="sname{{member.id}}">{{ member.sname }}</span>
    </div>
    <div class="col-md-3">
        <b>Date of birth: </b> <span id="dob{{member.id}}">{% if member.dob %}{{ member.dob|date('m/d/Y') }}{% endif %}</span>
    </div>
</div>
