<li><br><b>Relation: </b>{{ form_widget(member.relation) }}</li>
<li><br><b>Work: </b>{{ form_widget(member.work) }}</li>
<li><b>Criminal history: </b>{{ form_widget(member.offences, {'attr': {'class':'smallform-checkbox'}}) }}</li>
{#<li><br><b>Insurance: </b>{{ form_widget(member.insurance) }}</li>
<li><br><b>Shots: </b>{{ form_widget(member.shots) }}</li>#}
