<div class="section">Members</div>
<p style="font-size: 9pt;">Note: Last name of <span class="head">head of household</span> cannot be changed.<br>Other members without a last name entered will be assigned the last name of the head of household.</p>
<input type="hidden" id="headId" name="household[headId]" value="{{ household.head.id }}">
<div id="member-list" data-prototype="{% filter escape %}{% include 'ManaClientBundle:Member:memberPrototype.html.twig' with {'form': form.members.vars.prototype} %}{% endfilter %}">
    {% for member in form.members %}
        <div class="errors">{{ form_errors(member.fname) }}
            {{ form_errors(member.dob) }}
            {{ form_errors(member.sex) }}
            {{ form_errors(member.ethnicity) }}</div>
            {% set isHead = false  %}
            {% if member.vars.value.id == hohId %}
                {% set isHead = true %}
            {% endif %}
        <div class="border" onclick="showHideIncludeHead()" >

            <ul class="formblock" id="member-form">
                {% if member.vars.value.include == '1' %}
                    {% include 'ManaClientBundle:Member:included.html.twig' %}
                    {% include 'ManaClientBundle:Member:householdMemberRequired.html.twig' %}
                    {% include 'ManaClientBundle:Member:memberNotRequired.html.twig' %}
                {% else %}
                    {% include 'ManaClientBundle:Member:excluded.html.twig' %}
                {% endif %}
            </ul>
        </div>
    {% endfor %}
</div>
<p><a href="#" id="add-member">Add member</a></p>