{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block anon %}
    {{ parent() }}
    <div class="container">
        <form method="post">
            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
            <div class="row mb-3">
                <div class="col-sm-4">
                    <label for="inputEmail" class="sr-only">Email</label>
                    <input type="username" value="{{ last_username }}" name="username" id="inputEmail" class="form-control" placeholder="Email or username" required novalidate="novalidate" autofocus>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-sm-3">
                    <label for="inputPassword" class="sr-only">Password</label>
                    <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required>
                </div>
            </div>

            <input type="hidden" name="_csrf_token"
                   value="{{ csrf_token('authenticate') }}"
                   >

            <div class="checkbox mb-3">
                <label>
                    <input type="checkbox" name="_remember_me"> Remember me
                </label>
            </div>
            {#
                Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
                See https://symfony.com/doc/current/security/remember_me.html
        
            #}
            <div class="row mb-3">
                <div class="col-3">
                    <a href="{{ path('register_forgot') }}">Forgot password?</a>
                </div>

            </div>


            <button class="btn btn-sm btn-primary" type="submit">
                Sign in
            </button>
        </form>
    </div>
{% endblock %}
