<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ absolute_url(asset('build/bootstrap.css')) }}">
            <link rel="stylesheet" href="{{ absolute_url(asset('build/pdf.css')) }}">
        {% endblock %}
    </head>
    <body>
        <div class="container">
        {% for recipient in turkeys %}
            <div class="{% if loop.index % 55 == 0 %}new_page{% endif %}">
            <div class="row {% if loop.index % 5 == 0 %}bottomline{% endif %}">
                <div class="col-xs-4">
                    {{ recipient.sname }}, {{ recipient.fname }}
                </div>
                <div class="col-xs-3">
                    {{ recipient.center }}
                </div>
                <div class="col-xs-2 text-right">
                    {{ recipient.id }}
                </div>
                <div class="col-xs-2 text-right">
                    {{ recipient.dob|date('m/d/Y') }}
                </div>
                <div class="col-xs-1">
                    {{ recipient.Form }}
                </div>
            </div></div>
        {% endfor %}
        </div>
    </body>
</html>
