{% extends "ManaClientBundle:Default:layout.html.twig" %}
{% form_theme form 'ManaClientBundle:Form:fields.html.twig' %}
{% block body %}
<div class="title">{{ title }} for Household<br>
    ID: {{household.id}}; Head: {{ household.head.fname }} {{ household.head.sname }}</div>
{{ form_errors(form.contactDate) }}
{{ form_errors(form.contactDesc) }}
{{ form_errors(form.center) }}
{% if title == 'Edit Contact' %}
<form action="{{ path("contact_edit", {'id': contact.id}) }}" method="post">
{% else %}
    <form action="{{ path("contact_new", {'id': household.id}) }}" method="post">
{% endif %}
        <table>
            <tr>
                <td><b>Date:</b> 
                <td>{{ form_widget(form.contactDate) }}
            <tr>
                <td><b>Type:</b> 
                <td>{{ form_widget(form.contactDesc) }}
            <tr>
                <td><b>Site:</b> 
                <td>{{ form_widget(form.center)}}
            <tr></tr>
            <tr>
                <td><input class="smallbutton" type="submit" name="submit" value="Submit contact"> 
                <td>
{% if title == 'New Contact' %}<input class="smallbutton" type="reset">
{% else %}<input class="smallbutton" type="reset" name="reset" value="Cancel" onclick="history.go(-1);
        return false;">
{% endif %}
                <td><a class="smallbutton" href="{{ path('household_show', {'id':household.id}) }}">Household view</a>
        </table>
    </form>
{% if household.contacts|length > 0 and title != 'Edit Contact'%}
    <div class="section">Contact History</div>
{% for contact in household.contacts %}
    <ul class="formblock"><li><a class="tinybutton" href="{{ path('contact_edit', { 'id': contact.id }) }}">Edit</a>
            <a class="tinybutton" href="{{ path('contact_delete', { 'id': contact.id }) }}">Delete</a>
        <li><b>Date:</b> {{ contact.contactDate|date('m/d/Y') }}</li>
        <li><b>Type: </b>{{ contact.contactDesc.contactDesc }}</li>
        <li><b>Site: </b>{% if contact.center is not empty %}{{ contact.center.center }}{% endif %}</li>
        <li><b>County: </b>{% if contact.center is not empty %}{{ contact.center.county.county }}{% endif %}</li>
    </ul> 
{% endfor %}
{% endif %}
{% endblock %}