<div class="row">
    <div class="col-lg-5">
        {{ form_row(form.fname) }}
    </div>
    <div class="col-lg-5">
        {{ form_row(form.sname) }}
    </div>
</div>
<div class="row">
    <div class="col-lg-4">
        {{ form_row(form.dob) }}
    </div>
    <div class="col-lg-4">
        {{ form_row(form.sex) }}
    </div>
    <div class="col-lg-4">
        {{ form_row(form.ethnicity) }}
    </div>
</div>
<div class="row">
    <div class="col-lg-4">
        {{ form_row(form.relation) }}
    </div>
    <div class="col-lg-4">
        {{ form_row(form.jobs) }}
    </div>
</div>
    {{ form_rest(form) }}
<div id="member_options" style="display:none;">{{ metadata }}</div>
