{% extends "ManaClientBundle:Default:layout.html.twig" %}
{% block menu %}
{{ knp_menu_render('ManaClientBundle:Builder:adminMenu') }}
{% endblock menu %}
{% block body %}
<p align="center">
    Welcome to the administrator's neighborhood of the <br>
    Project M.A.N.A. distribution database application.
</p>
<table>
    <tr>
        <td class="section">Reports</td>
        <td class="section">Status Changes</td>
    </tr>
    <tr>
        <td>{{ knp_menu_render('ManaClientBundle:Builder:reportsMenu') }}</td>
        <td><a class="smallbutton" href="{{ path("status") }}">Status changes</a></td>
    </tr>
</table>
<div class="section">Options maintenance</div>
<table>
    <tr>
        <td>{{ knp_menu_render('ManaClientBundle:Builder:optionsCol1Menu') }}</td>
        <td>{{ knp_menu_render('ManaClientBundle:Builder:optionsCol2Menu') }}</td>
        <td>{{ knp_menu_render('ManaClientBundle:Builder:optionsCol3Menu') }}</td>
        <td>{{ knp_menu_render('ManaClientBundle:Builder:optionsCol4Menu') }}</td>
    </tr>
</table>
{% endblock body %}