{% extends "ManaClientBundle:Default:layout.html.twig" %}
{% form_theme form 'ManaClientBundle:Form:fields.html.twig' %}
{% block body %}
    {#{{ errorString }}#}
    <div class="title">Household Edit<br>
        ID: {{household.id}}; Head: {{household.head.fname}} {{household.head.sname}}</div>
    <div class="title">NOTICE: Head of household missing data MUST be corrected before other editing
    </div>
    <form action="{{ path('household_edit', { 'id': household.id }) }}" method="post">
        {# for loop only generates single member for v1, single member household #}
        {% for member in form.members %}
        <ul class="formblock">
            <input type="hidden" name="household_head[members][0][include]" value="{{ member.vars.value.include }}">
            <li><b>First name: </b>{{ form_row(member.fname) }}</li>
            <li><b>Last name: </b>{{ form_row(member.sname) }}</li>
            <li><b>Date of birth<br>(mm/dd/yyyy): </b>{{ form_row(member.dob) }}</li>
            <li><br><b>Gender: </b>{{ form_row(member.sex) }}</li>
            <li><br><b>Ethnicity: </b>{{ form_row(member.ethnicity) }}</li>
        </ul>
        {% endfor %}
        <div align="center"><input class="smallbutton" type="submit" value="Submit">
            <input class="smallbutton" type="reset"></div>
    </form>
{% endblock %}
