<ul class="formblock" id="address-form">
    <li><b>Address type: </b>{{ form_widget(form.addresstype, {'attr': {'class':'smallform'}}) }}</li>
    <li><b>Address:</b>{{ form_widget(form.line1, {'attr': {'class':'smallform'}}) }} {{ form_widget(form.line2, {'attr': {'class':'smallform'}}) }}
    <b>City:</b>{{ form_widget(form.city, {'attr': {'class':'smallform'}}) }}
    <b>County:</b>{{ form_widget(form.county, {'attr': {'class':'smallform'}}) }}
    <b>State:</b>{{ form_widget(form.state, {'attr': {'class':'smallform'}}) }}
    <b>Zip:</b>{{ form_widget(form.zip, {'attr': {'class':'smallform'}}) }}</li>
    <li><a id="removeAddress" class="smallbutton" href="#" onclick="removeAddress(this)">Remove</a></li>
</ul>
