<div class="section">Addresses</div>
<div id="address-list" data-prototype="{% filter escape %}{% include 'ManaClientBundle:Address:address_prototype.html.twig' with {'form': form.addresses.vars.prototype} %}{% endfilter %}">
{%for address in form.addresses%}
    <div class="errors">
        {{ form_errors(address.line1) }}
        {{ form_errors(address.city) }}
    </div>
    <ul class="formblock" id="address-form">
    <li><b>Address type: </b>{{ form_widget(address.addresstype) }} </li>
    <li><b>Address: </b>{{ form_widget(address.line1) }} {{ form_widget(address.line2) }}</li>
    <li><b>City: </b>{{ form_widget(address.city) }}</li>
    <li><b>County: </b>{{ form_widget(address.county) }}</li>
    <li><b>State: </b>{{ form_widget(address.state) }}</li>
    <li><b>Zip: </b>{{ form_widget(address.zip) }}</li>
    </ul>
{%endfor%}
</div>
<p><a href="#" id="add-address">Add address</a></p>