<div class="panel-body">
    <h4>{{ label_info('New address') }}</h4>
    <div class="row">
        <div class="col-md-2">
            {{ form_row(form.addresstype) }}
        </div>
        <div class="col-md-4">
            {{ form_row(form.line1) }}
        </div>
        <div class="col-md-4">
            {{ form_row(form.line2) }}
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            {{ form_row(form.city) }}
        </div>
        <div class="col-md-2">
            {{ form_row(form.county) }}
        </div>
        <div class="col-md-2">
            {{ form_row(form.state) }}
        </div>
        <div class="col-md-2">
            {{ form_row(form.zip) }}
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            <a class="btn-sm btn-info" id="removeAddress" href="#" onclick="removeAddress(this)">Remove</a>
        </div>
    </div>
</div>
