{% extends "layout.html.twig" %}
{% block body %}
    <div class="panel panel-info">
        <div class="panel-heading">Status changes</div>
        <div class="panel-body">
            <p>The active status of a household is useful when searching for or entering a new
                head of household.  An inactive household is less likely to be a duplicate
                of a new household. One may still access all of the data, though, of inactive households.
                It just takes an extra step or two.</p>
            <p>
                The column to the right shows the active status and number of households
                by the year of last contact.  To change the status of all households in
                a give year from Active to Inactive simply click on the radio button to the
                right of the Active column.</p>
            <p>Please be aware that changing status for many records can take a minute or more.</p>
            <form action="{{ path('status_change') }}" method="post">
                <div class="row">
                    <div class="col-sm-1">
                        Year
                    </div>
                    <div class="col-sm-1">
                        Active
                    </div>
                    <div class="col-sm-1">
                        ->Inactive
                    </div>
                    <div class="col-sm-1">
                        Inactive
                    </div>
                    <div class="col-sm-1">
                        ->Active
                    </div>
                </div>
                {% for key, year in statusYears %}
                    <div class="row">
                        <div class="col-sm-1">
                            {{ key }}
                        </div>
                        <div id="active{{key}}" class="col-sm-1">
                            {{ year.Active }}
                        </div>
                        <div class="col-sm-1">
                            <input type="radio" name="status[{{ key }}]" value="inactive">
                        </div>
                        <div id="inactive{{key}}" class="col-sm-1">
                            {{ year.Inactive }}
                        </div>
                        <div class="col-sm-1">
                            <input type="radio" name="status[{{ key }}]" value="active">
                        </div>
                    </div>
                {% endfor %}
                <div class="row">
                    <div class="col-sm-12">
                        <input class="btn-sm btn-info" type="submit" value="Submit"><input class="btn-sm btn-info" type="reset">
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}