{% extends "ManaClientBundle:Default:layout.html.twig" %}

{% block body %}
<div class="title">Manage users</div>
    {{ form_errors(form) }}
    {{ form_errors(form.fname) }}
    {{ form_errors(form.sname) }}
    {{ form_errors(form.username) }}
    {{ form_errors(form.password.first) }}
<div class="column1">
    <div class="title">Add user</div>
    <form method="post" action="{{ path('user_create') }}">
        <table>
        <tr>
            <td>Enabled: {{ form_widget(form.isActive) }}
        <tr>
            <td>First name: <font color="green">(req'd) </font>{{ form_widget(form.fname) }}
        <tr>
            <td>Last name: <font color="green">(req'd) </font>{{ form_widget(form.sname) }}</td>
        <tr>
            <td>E-mail: {{ form_widget(form.email) }}</td>
        </tr>
        <tr>
            <td>Username: <font color="green">(req'd) </font>{{ form_widget(form.username) }}</td>
        </tr>
        <tr>
            <td>Password: <font color="green">(req'd) </font>{{ form_widget(form.password.first) }}</td>
        </tr>
        <tr>
            <td>Confirm password: <font color="green">(req'd) </font>{{ form_widget(form.password.second) }}</td>
        </tr>
        <tr>
            <td>{{ form_widget(form.role) }}</td>
        </tr>
        <tr>
            <td><input type="submit" value="Submit"> <input type="reset"></td>
        </tr>
    </table>
 </form>
</div>
<div class="column2">
{% if users is defined %}
{% include 'ManaClientBundle:User:users.html.twig' %}
{% endif %}
    </div>
{% endblock %}
{% block menu %}
{{ knp_menu_render('ManaClientBundle:Builder:adminMenu') }}
{% endblock menu %}
