{% extends "ManaClientBundle:Default:layout.html.twig" %}

{% block body %}
<div class="title">Change user password: {{ user.username }}</div>
    {{ form_errors(form) }}
    {{ form_errors(form.password.first) }}
    <div style="margin-left:25%;">
    <form method="post" action="{{ path('pwd_update', {'id': user.id}) }}">
        <table style="margin:0 5em;">
        <tr>
            <td>Password: <font color="green">(req'd) </font>{{ form_widget(form.password.first) }}</td>
        </tr>
        <tr>
            <td>Confirm password: <font color="green">(req'd) </font>{{ form_widget(form.password.second) }}</td>
        </tr>
        <tr>
            <td><input type="submit" value="Submit"> <input type="reset" name="reset" value="Cancel" onclick="history.go(-1);return false;"></td>
        </tr>
    </table>
 </form>
</div>
{% endblock %}
{% block menu %}
{{ knp_menu_render('ManaClientBundle:Builder:adminMenu') }}
{% endblock menu %}
