<div class="panel-body">
    <div class="row">
        <div class="col-md-2">
            {{ form_row(form.physicalAddress.physical) }}
        </div>
        <div class="col-md-10" id="physical">
            <div class="row">
                <div class="col-md-6">
                    {{ form_row(form.physicalAddress.address.line1) }}
                </div>
                <div class="col-md-6">
                    {{ form_row(form.physicalAddress.address.line2) }}
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    {{ form_row(form.physicalAddress.address.city) }}
                </div>
                <div class="col-md-3">
                    {{ form_row(form.physicalAddress.address.county) }}
                </div>
                <div class="col-md-3">
                    {{ form_row(form.physicalAddress.address.state) }}
                </div>
                <div class="col-md-3">
                    {{ form_row(form.physicalAddress.address.zip) }}
                </div>
            </div>
        </div>
    </div>
</div>
