{% trans_default_domain 'FOSUserBundle' %}
<div class="row">
    <div class="col-md-3">
    <h4>{{ label_info("Password change form") }}</h4>
        <form action="{{ path('fos_user_change_password') }}" {{ form_enctype(form) }} method="POST" class="fos_user_change_password">
            {{ form_widget(form) }}
            <div>
                <input type="submit" class="btn  btn-xs btn-primary" value="{{ 'change_password.submit'|trans }}" />
            </div>
        </form>
    </div>
</div>
