{% extends "ManaClientBundle:Default:layout.html.twig" %}

{% block body %}
    {% include 'ManaClientBundle:Household:v1HouseholdEditHeader.html.twig' %}
    {% include 'ManaClientBundle:Household:v1ManyHouseholdEditHeader.html.twig' %}
    <form action="{{ path('household_edit', { 'id': household.id }) }}" method="post">
        <input type="hidden" id="headId" name="household[headId]" value="{{ household.head.id }}">
        {% for member in form.members %}
            <input type="hidden" name="household[members][{{loop.index0}}][include]" value="1">
            <input type="hidden" name="household[members][{{loop.index0}}][id]" value="{{member.vars.value.id}}">
            <div class="border">
                <ul id="member-form" class="formblock">
                    <li name="radioHead"><b>Head?</b> <input id="isHead{{ loop.index }}" type="radio" name="household[isHead]" value="{{ member.vars.value.id }}" {% if member.vars.value.id == hohId %}checked="checked"{% endif %}></li>
                        {% if member.vars.value.id != hohId %}
                            {% include "ManaClientBundle:Member:householdMemberRequired.html.twig" %}
                        {% else %}
                        <li><b>First name: </b>{{ form_widget(member.fname, {'attr':{'readonly':'true'}}) }}</li>
                        <li><b>Last name: </b>{{ form_widget(member.sname, {'attr':{'readonly':'true'}}) }}</li>
                        {% endif %}
                </ul>
            </div>
        {% endfor %}
        <div align="center"><input type="submit" value="Submit">
            <input type="reset"></div>
    </form>
{% endblock %}
