{% if route == 'mana_client_default_index' or route == "home"%}
                        <form action="{{ path('_search') }}" method="get">
                            <input name="qtext" type="text" class="tinyform"><br />
                            <input name="submit" type="submit" value="Search">
                        </form>
{% endif %}
                        <a href="{{ path('household_new') }}" >New household</a>
                        <a href="{{ path('latest_contacts') }}" >Latest contacts</a>
                        <a href="{{ path('contacts_add') }}" >Site contacts</a>
                        <a href="{{ path('stats_criteria', {'dest': 'general'}) }}" >Statistics</a>
{% if is_granted('ROLE_ADMIN') %}
                        <a href="{{ path('admin_menu') }}" >Admin menu</a>
{% endif %}
{% if route != 'home' %}
                        <a href="{{ path('home') }}">Home</a>
{% endif %}
