
{% extends 'ManaClientBundle:Default:layout.html.twig' %}


{% block body -%}
<div class="title">Ethnicity</div>
<div class="width40">
    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Ethnicity</th>
                <td>{{ entity.ethnicity }}</td>
            </tr>
            <tr>
                <th>Abbreviation</th>
                <td>{{ entity.abbreviation }}</td>
            </tr>
            <tr>
                <th>Enabled</th>
                <td>{% if entity.enabled %}Yes{%else%}No{%endif%}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('eth') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('eth_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
</ul>
    </div>
{% endblock %}
