<div class="row">
    <div class="col-sm-12">
        <h3>{{ label_info('Most recent contacts for '~site.center) }}</h3>
    </div>
</div>
<div class="row">
    <div class="col-sm-1"><input type="checkbox" id="selectAll"></div>
    <div class="col-sm-1 text-right">ID</div>
    <div class="col-sm-3">Head</div>
    <div class="col-sm-3">Distribution</div>
    <div class="col-sm-2">Date</div>
</div>
<div id="latestContacts" action="{{ path("contacts_add") }}" method="post">
    {% for contact in contacts %}
        <div class="row">
            <div class="col-sm-1"><input type="checkbox" id="idSelect{{ contact.household.id }}" name="contact_household[{{ contact.household.id }}]" value="{{ contact.household.id }}"></div>
            <div class="col-sm-1 text-right">{{ contact.household.id }}</div>
            <div class="col-sm-3">{{ contact.household.head.sname }}, {{ contact.household.head.fname }}</div>
            <div class="col-sm-3">{{ contact.contactDesc.contactDesc }}</div>
            <div class="col-sm-2">{{ contact.contactDate|date('m/d/Y') }}</div>
        </div>
    {% endfor %}
    <div class="row">
        <div class="col-sm-2"><input id="submitButton" type="submit" name="submit" value="Submit contacts"></div>
    </div>
</div>
