
{% extends 'ManaClientBundle:Default:layout.html.twig' %}


{% block body -%}
<div class="title">ContactDesc list</div>
    
    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Contactdesc</th>
                <th>Enabled</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('desc_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.contactDesc }}</td>
                <td>{% if entity.enabled %}Yes{%else%}No{%endif%}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('desc_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('desc_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('desc_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    </div>
{% endblock %}
