{% for key,data in details.details %}
    <div class="panel-heading">{{ key }}</div>
    {#<table class="width60">#}
    <div class="panel-body">
        <div class="row">
            <div class="col-sm-3 text-right">
            </div>
            <div class="col-sm-2 text-right">
                Unique Individuals Served
            </div>
            <div class="col-sm-2 text-right">
                Total Individuals Served
            </div>
            <div class="col-sm-2 text-right">
                Unique Households Served
            </div>
            <div class="col-sm-2 text-right">
                Total Households Served
            </div>
        </div>
        {% for desc, type in data %}
            <div class="row">
                <div class="col-sm-3 text-right">
                    {{ desc }}
                </div>
                <div id="{{ key|url_encode }}{{ desc|url_encode }}uniqInd" class="col-sm-2 text-right">
                    {{ type.uniqInd }}
                </div>
                <div id="{{ key|url_encode }}{{ desc|url_encode }}totalInd" class="col-sm-2 text-right">
                    {{ type.totalInd }}
                </div>
                <div id="{{ key|url_encode }}{{ desc|url_encode }}uniqHouse" class="col-sm-2 text-right">
                    {{ type.uniqHouse }}
                </div>
                <div id="{{ key|url_encode }}{{ desc|url_encode }}totalHouse" class="col-sm-2 text-right">
                    {{ type.totalHouse }}
                </div>
            </div>
        {% endfor %}
    </div>
{% endfor %}
