<div class="panel-heading text-center">Member ethnicity Distribution</div>
<div class="panel-body">
    <div class="row">
        <div class="col-sm-3 text-right">
            <b>Caucasian</b>
        </div>
        <div class="col-sm-3 text-right">
            <b>African-American</b>
        </div>
        <div class="col-sm-3 text-right">
            <b>Asian</b>
        </div>
        <div class="col-sm-3 text-right">
            <b>Hispanic</b>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3 text-right">
            {{ statistics['Caucasian']|number_format }}
        </div>
        <div class="col-sm-3 text-right">
            {{ statistics['African-American']|number_format }}
        </div>
        <div class="col-sm-3 text-right">
            {{ statistics['Asian']|number_format }}
        </div>
        <div class="col-sm-3 text-right">
            {{ statistics['Hispanic']|number_format }}
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3 text-right">
            <b>Native American</b>
        </div>
        <div class="col-sm-3 text-right">
            <b>Hawaiian/Pacific Islander</b>
        </div>
        <div class="col-sm-3 text-right">
            <b>Other</b>
        </div>
        <div class="col-sm-3 text-right">
            <b>Unknown</b>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3 text-right">
            {{ statistics['Native American']|number_format }}
        </div>
        <div class="col-sm-3 text-right">
            {{ statistics['Hawaiian/Pacific Islander']|number_format }}
        </div>
        <div class="col-sm-3 text-right">
            {{ statistics['Other']|number_format }}
        </div>
        <div class="col-sm-3 text-right">
            {{ statistics['Unknown']|number_format }}
        </div>
    </div>
</div>
