{% set start = specs.startDate|date('F Y') %}
{% set end = specs.endDate|date('F Y') %}
<div class="title">Distribution Details for {{ start }}
    {% if (start != end) %} through {{ end }}{% endif %}</div>
{% for key,data in details.details %}
<div class="section70">{{ key }}</div>
{#<table class="width60">#}
    <table class="stats">
        <tr>
        <td>&nbsp;</td>
        <td>Unique<br>Individuals<br>Served</td>
        <td>Total<br>Individuals<br>Served</td>
        <td>Unique<br>Households<br>Served</td>
        <td>Total<br>Households<br>Served</td>
    </table>
{% for desc, type in data %}
    <table class="stats">
        <tr>
        <td>{{ desc }}</td>
        <td>{{ type.uniqInd }}</td>
        <td>{{ type.totalInd }}</td>
        <td>{{ type.uniqHouse }}</td>
        <td>{{ type.totalHouse }}</td>
    </table>
{% endfor %}
{% endfor %}
