{% block statsblock %}
{% set start = specs.startDate|date('F, Y') %}
{% set end = specs.endDate|date('F, Y') %}
<div class="title">Statistics for {{ start }}{% if (start != end) %} through {{ end }}{% endif %}
    <br>
{% if specs.type is not sameas(0) %}Type = {{ specs.type }}{% if  specs.county is not sameas(0) or specs.center is not sameas(0) %}; {% endif %}{% endif %}
{% if  specs.county is not sameas(0) %}Location = {{ specs.county }} county{% endif %}{% if specs.center is not sameas(0) %}Site = {{ specs.center }}{% endif %}

    <br>Note: Some inconsistencies may exist due to households with missing data<br>
</div>
<div  class="section70">General statistics</div>

<table class="stats">
    <tr>
        <td>&nbsp;</td>
        <td><b>Intdiduals Served</b></td>
        <td><b>Unique Intdiduals Served</b></td>
        <td>&nbsp;</td>
    <tr>
        <td>&nbsp;</td>
        <td>{{ statistics.IS|number_format }}</td>
        <td>{{ statistics.UIS|number_format }}</td>
        <td>&nbsp;</td>
</table>
<hr style="width:70%; margin-left: 15%;">
<table class="stats">
    <tr>
        <td>&nbsp;</td>
        <td><b>Total Households Served</b></td>
        <td><b>Unique Households Served</b></td>
        <td>&nbsp;</td>
    <tr>
        <td>&nbsp;</td>
        <td>{{ statistics.THS|number_format }}</td>
        <td>{{ statistics.UHS|number_format }}</td>
        <td>&nbsp;</td>
</table>
<hr style="width:70%; margin-left: 15%;">
<table class="stats">
    <tr>
        <td>&nbsp;</td>
        <td>{% if specs.type is not sameas(0) %}<b>New {{ specs.type }}</b>{% else %}&nbsp;{% endif %}</td>
        <td><b>New Households<br>(all types)</b></td>
        <td><b>Unique New Intdiduals<br>(all types)</b></td>

    <tr>
        <td>&nbsp;</td>
        <td>{% if specs.type is not sameas(0) %}{{ statistics['NewByType']|number_format }}{% else %}&nbsp;{% endif %}</td>
        <td>{{ statistics['NewHouseholds'] }}</td>
        <td>{{ statistics['Unique New Intdiduals']|number_format }}</td>
</table>

<div class="section70">Member ethnicity distribution</div>
<table class="stats">
    <tr>
    <td><b>Caucasian</b><br>
                {% if statistics['Caucasian'] is defined %}{{ statistics['Caucasian']|number_format }}{% else %}0{% endif %}</td>
    <td><b>African-American</b><br>
                {% if statistics['African-American'] is defined %}{{ statistics['African-American']|number_format }}{% else %}0{% endif %}</td>
    <td><b>Asian</b><br>
                {% if statistics['Asian'] is defined %}{{ statistics['Asian']|number_format }}{% else %}0{% endif %}</td>
    <td><b>Hispanic</b><br>
                {% if statistics['Hispanic'] is defined %}{{ statistics['Hispanic'] }}{% else %}0{% endif %}</td>
</table>
<hr style="width:70%; margin-left: 15%;">
<table class="stats">
    <td><b>Native American</b><br>
                {% if statistics['Native American'] is defined %}{{ statistics['Native American']|number_format }}{% else %}0{% endif %}</td>
    <td><b>Hawaiian/Pacific Islander</b><br>
                {% if statistics['Hawaiian/Pacific Islander'] is defined %}{{ statistics['Hawaiian/Pacific Islander']|number_format }}{% else %}0{% endif %}</td>
    <td><b>Other</b><br>
                {% if statistics['Other'] is defined %}{{ statistics['Other'] }}{% else %}0{% endif %}</td>
    <td><b>Unknown</b><br>
                {% if statistics['Unknown'] is defined %}{{ statistics['Unknown'] }}{% else %}0{% endif %}</td>
</table>
<div  class="section70">Age distribution</div>
<div class="stats">
    <div><b>Under 6</b><br>{{ statistics['Under 6']|number_format }}</div>
    <div><b>6 to 18</b><br>{{ statistics['6 - 18']|number_format }}</div>
    <div><b>19 to 59</b><br>{{ statistics['19 - 59']|number_format }}</div>
    <div><b>60+</b><br>{{ statistics['60+']|number_format }}</div>
</div>
<div class="section70">Age/Gender distribution</div>
<div class="stats">
    <div><b>Female Children</b><br>{{ statistics['FC']|number_format }}</div>
    <div><b>Male Children</b><br>{{ statistics['MC']|number_format }}</div>
    <div><b>Female Adults</b><br>{{ statistics['FA']|number_format }}</div>
    <div><b>Male Adults</b><br>{{ statistics['MA']|number_format }}</div>
</div>
<div class="section70">Residency distribution</div>

<div class="stats">
    <div><b>&lt; 1 month</b><br>{{ statistics['< 1 month']|number_format }}</div>
    <div><b>1 mo - 2 yrs</b><br>{{ statistics['1 mo - 2 yrs']|number_format }}</div>
    <div><b>&gt;=2 yrs</b><br>{{ statistics['>=2 yrs']|number_format }}</div>
    <div>&nbsp;</div>
</div>

{% if  specs.county is sameas(0) and specs.center is sameas(0) %}
<div class="section70">County distribution</div>
<div class="stats">
    <div>&nbsp;</div>
    <div>Unique Individuals Served</div>
    {% if ctyPcts != 0 %}<div>&nbsp;</div>{% endif %}
    <div>Total Individuals Served</div>
    {% if ctyPcts != 0 %}<div>&nbsp;</div>{% endif %}
    <div>Unique Households Served</div>
    {% if ctyPcts != 0 %}<div>&nbsp;</div>{% endif %}
    <div>Total Households Served</div>
    {% if ctyPcts != 0 %}<div>&nbsp;</div>{% endif %}
</div>
{% for key, value in ctyStats %}
<div class="stats">
    <div>{{ key }}</div>
    {% set cty = key %}
    <div>{{ value.UIS }}</div>
    {% if ctyPcts != 0 %}<div>{{ value.UISPct|number_format(1) ~ '%' }}</div>{% endif %}
    <div>{{ value.IS }}</div>
    {% if ctyPcts != 0 %}<div>{{ value.ISPct|number_format(1) ~ '%' }}</div>{% endif %}
    <div>{{ value.UHS }}</div>
    {% if ctyPcts != 0 %}<div>{{ value.UHSPct|number_format(1) ~ '%' }}</div>{% endif %}
    <div>{{ value.THS }}</div>
    {% if ctyPcts != 0 %}<div>{{ value.THSPct|number_format(1) ~ '%' }}</div>{% endif %}
</div>
{% endfor %}
{% endif %}
<div class="section70">Family size</div>

<div class="stats">
    <div><b>One</b></div>
    <div><b>Two</b></div>
    <div><b>Three</b></div>
    <div><b>Four</b></div>
    <div><b>Five</b></div>
    <div><b>Six or more</b></div>
</div>
<div class="stats">
    <div>{{ statistics['Single']|number_format }}</div>
    <div>{{ statistics['Two']|number_format }}</div>
    <div>{{ statistics['Three']|number_format }}</div>
    <div>{{ statistics['Four']|number_format }}</div>
    <div>{{ statistics['Five']|number_format }}</div>
    <div>{{ statistics['Six or more']|number_format }}</div>
</div>
{% if (start == end) %}
<div class="section70">Frequency Distribution for Month</div>

<div class="stats">
    <div><b>1x</b></div>
    <div><b>2x</b></div>
    <div><b>3x</b></div>
    <div><b>&gt;=4x</b></div>
</div>
<div class="stats">
    <div>{{ statistics['1x']|number_format }}</div>
    <div>{{ statistics['2x']|number_format }}</div>
    <div>{{ statistics['3x']|number_format }}</div>
    <div>{{ statistics['4x']|number_format }}</div>
</div>
{% endif %}
{% endblock %}