<!DOCTYPE HTML>

<html>
    <head>
        {% block head %}
            <meta Name="description"
                  Content="Project M.A.N.A. aims to dramatically reduce the incidence of hunger and its effects on the communities on the north and west shores of Lake Tahoe and Truckee. We believe that adequate food for the maintenance of physical, emotional and mental health is a basic human right and in the overall best interest of our community.">
            <meta Name="keywords"
                  Content="hunger, poverty, homelessness, community gardens, nutrition, Hispanic services, outreach, sustainable agriculture, non-profit, kids cooking, food, volunteering, Lake Tahoe, low-income, food pantry, Truckee, soup kitchen, emergency food relief, meals on wheels, gardening">
            <title>Project MANA{% if title is defined %}: {{ title|raw }}{% endif %}</title>
            <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

            {% block stylesheets %}
                <link href="{{ asset('/css/cssframes.css') }}" rel="stylesheet" />
                <link href="{{ asset('/css/mana.css') }}" rel="stylesheet" />
                <link href="{{ asset('/css/tables.css') }}" rel="stylesheet" />
                <link href="{{ asset('/css/jquery-ui-1.10.3.custom.css') }}" rel="stylesheet" />
            {% endblock %}
        {%endblock head %}
    </head>
    <body>
        <div id="wrap">
            <div id="header"> <img class="imgLogo" src="{{ asset('/images/mana-banner.gif') }}" alt="Project MANA">

                <p class="headerText"><h3 class="title">Project M.A.N.A. Client Database</h3>
                <h5 class="title">Serving more than 90,000 meals per year to North Lake Tahoe
                    and Truckee communities.</h5>
            </div>

            <!--<div id="content-wrap">-->
            <div id="content">
                <div id="env" style="visibility: hidden;">{{ app.environment }}</div>
                {% if app.user %}
                    {% set route = app.request.attributes.get('_route') %}
                    <div class="menu hidden-print">
                        {% block menu %}<div style="margin-left: 5px;">
                                <form action="{{ path('_search') }}" method="get">
                                    <input name="qtext" type="text" class="tinyform"><br>
                                    <span style="font-size: 8pt; margin-left: 5px;">Full name or ID</span>
                                    <input class="smallbutton" name="submit" type="submit" value="Search">
                                </form></div>
                                {{ knp_menu_render('ManaClientBundle:Builder:mainMenu') }}
                            {% endblock menu %}
                    </div>
                {%endif%}
            {% block body %}{% endblock %}</div>
        <!--</div>-->
    </div>
    <div id="footer" class="hidden-print">
        <hr>
        <div class="leftfoot">
            <b> Project MANA -- A Hunger Relief Agency</b><br>
            (775) 298-0008 Fax: (775) 298-0009<br>
            Kings Beach: (530) 546-2416<br>
            Truckee office: (530) 582-4079
        </div>
        <div class="rightfoot">
            <img  src="{{ asset('/images/hosted_by.gif') }}" alt="Sierra Web logo">
        </div>
    </div>

    {% block javascripts %}
        <script src="{{ asset('jquery/jquery-1.10.2.min.js') }}"></script>
        <script src="{{ asset('jquery/jquery-ui-1.10.3.custom.min.js') }}"></script>
        <script src="{{ asset('js/bootstrap.js') }}"></script>
        <script src="{{ asset('js/mana.js') }}"></script>
    {% endblock %}
</body>
</html>
