{% if route == 'mana_client_default_index' or route == "home"%}
                        <form action="{{ path('_search') }}" method="get">
                            <input name="qtext" type="text" class="tinyform"><br />
                            <input class="smallbutton" name="submit" type="submit" value="Search">
                        </form>
{% endif %}
                        <a href="{{ path('household_new') }}" class="smallbutton" >New household</a>
                        <a href="{{ path('center_select') }}" class="smallbutton" >Latest contacts</a>
                        <a href="{{ path('contacts_add') }}" class="smallbutton" >Site contacts</a>
                        <a href="{{ path('stats_criteria', {'dest': 'general'}) }}" class="smallbutton" >Statistics</a>
{% if is_granted('ROLE_ADMIN') %}
                        <a href="{{ path('admin_menu') }}" class="smallbutton" >Admin menu</a>
{% endif %}
{% if route != 'home' %}
                        <a class="smallbutton" href="{{ path('home') }}">Home</a>
{% endif %}
