
{% extends 'ManaClientBundle:Default:layout.html.twig' %}


{% block body -%}
<div class="title">Ethnicity list</div>
<div class="title">Note: required field values cannot be disabled</div>
<div class="width40">
    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Ethnicity</th>
                <th>Abbreviation</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('eth_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.ethnicity }}</td>
                <td>{{ entity.abbreviation }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('eth_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('eth_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('eth_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    </div>
{% endblock %}
