{% extends "ManaClientBundle:Default:layout.html.twig" %}
{% form_theme form 'ManaClientBundle:Form:fields.html.twig' %}
{% block body %}
<div class="title">All items required</div>
<div class="section">New Head of Household</div>
<form action=""  method="post">
    <input type="hidden" name="household[headId]" value="0">
    <div class="errors">
{{ form_errors(form.center) -}}
{{ form_errors(form.complianceDate) -}}
{{ form_errors(form.sharedDate) -}}
        {#{{ errorString -}}#}
{{ form_errors(form) -}}
{% for member in form.members %}
{{ form_errors(member.fname) -}}
{{ form_errors(member.sname) -}}
{{ form_errors(member.dob) -}}
{{ form_errors(member.sex) -}}
{{ form_errors(member.ethnicity) -}}
    {% endfor %}</div>
{#    {{ dump(form.members) }}#}
{% for member in form.members %}
    <ul class="formblock">
        <li>First name: {{ form_widget(member.fname) }}</li>
        <li>Last name: {{ form_widget(member.sname) }}</li>
        <li>Age or birthday<br>(mm/dd/yyyy): {{ form_widget(member.dob) }}</li>
        <li><br>Gender: {{ form_widget(member.sex) }}</li>
        <li><br>Ethnicity: {{ form_widget(member.ethnicity) }}</li>
    </ul>
{% endfor %}
{% include "ManaClientBundle:Household:householdRequired.html.twig" %}
    <div> <input name="submit" type="submit" class="smallbutton"  value="Submit"> 
        <input type="reset" class="smallbutton" value=" Reset "></div>
</form>
{% endblock %}