{% extends "ManaClientBundle:Default:layout.html.twig" %}
{% block body %}
    <div class="title">Household View<br>
        ID: {{household.id}}; Head: {{household.head.fname}} {{household.head.sname}}</div>
        {% for template in templates %}
            {% include template %}
        {% endfor %}
    <div style="text-align: center;"><a class="smallbutton" href="{{ path("household_edit", {'id':household.id}) }}">Edit household</a> 
        <a class="smallbutton" href="{{ path("house_card", {'id':household.id}) }}">Create card</a></div>
{% endblock %}