<div class="section">Required Household Items</div>
<div class="errors">{{ form_errors(form.complianceDate) }}{{ form_errors(form.sharedDate) }}{{ form_errors(form.center) }}</div>
<ul class="formblock">
    <li><b>Arrival (month/year):</b> {{ form_widget(form.arrivalmonth) }}, {{ form_widget(form.arrivalyear) }}</li>
    <li><b>First site: </b>{{ form_widget(form.center) }}</li>
    <li><b>Compliance: </b>{{ form_widget(form.compliance) }}</li>
    <li><b>Compliance date: </b>{{ form_widget(form.complianceDate) }}</li>
    <li><b>Shared: </b>{{ form_widget(form.shared) }}</li>
    <li><b>Shared date: </b>{{ form_widget(form.sharedDate) }}</li>
</ul>
