<div class="section">Household</div>
{#{{ errorString }}#}
<ul class="formblock">
    <li><b>ID:</b> {{ household.id }}</li>
    <li id="dateAdded"><b>Date added:</b> {% if household.dateAdded is not null %}{{ household.dateAdded|date('m/d/Y') }}<input type="hidden" name="household[dateAdded]" value="{{ household.dateAdded|date('m/d/Y') }}">{% endif %}</li>
    <li><b>Active?:</b> {% if household.active == 1 %}Yes{% else %}No{% endif %}</li>
    {#<li><b>Pregnancy<br>in household?:</b>{{ household.pregnant }}</li>
    <li><b>Special needs<br>in household?: </b>{{ household.specialneed }}</li>
    <li><b>WIC: </b>{{ household.wic }}</li>#}
    <li><b>Phone: </b>{% for phone in household.phones %}({{ phone.areacode }}) {{phone.phoneNumber }}{% endfor %}</li>
    <li><b>Food stamps? </b>{% if household.foodStamps == 1 %}Yes{% else %}No{% endif %}
    {% if household.fsamount is not null %}<b>If yes, how much?</b>{{ household.fsamount.amount }}{% endif %}
    {% if household.notfoodstamp is not null %}<b>If no, why not?</b>{{ household.notfoodstamp.notfoodstamp }}{% endif %}
    </li>
    <li><b>Income source: </b>{% set n = household.incomeSource|length %}
{% for incomeSource in household.incomeSource if n > 0 %}{{incomeSource.incomeSource}}{% if loop.index < n %}, {% endif %}{% endfor %}</li>
    <li><b>Income: </b>{% if household.income is not null %}{{ household.income.income }}{% endif %}</li>
    <li><b>Housing: </b>{% if household.housing is not null %}{{ household.housing.housing }}{% endif %}</li>
    <li><b>Appliances:</b> {% set n = household.appliances|length %}
{% for appliance in household.appliances if n > 0 %}{{appliance.appliance}}{% if loop.index < n %}, {% endif %}{% endfor %}</li>
    <li><b>Insufficient food:</b> {% set n = household.reasons|length %}
{% for reason in household.reasons if n > 0 %}{{reason.reason}}{% if loop.index < n %}, {% endif %}{% endfor %}</li>
    <li><b>Arrival: </b>{% if household.arrivalmonth > 0 %} {{ (household.arrivalmonth ~ '/1/2000')|date('F') }}, {{ household.arrivalyear }}{% endif %}</li>
    <li><b>First site: </b>{% if household.center is not null %}{{ household.center.center }}{% endif %}</li>
    <li><b>Compliance: </b>{% if household.compliance == 1 %}Yes{% else %}No{% endif %}</li>
    <li><b>Date: </b>{% if household.complianceDate is not null %}{{ household.complianceDate|date('m/d/Y') }}{% endif %}</li>
    <li><b>Shared: </b>{% if household.shared == 1 %}Yes{% else %}No{% endif %}</li>
    <li><b>Date: </b>{% if household.sharedDate is not null %}{{ household.sharedDate|date('m/d/Y') }}{% endif %}</li>
</ul>
