{% for member in matched %}
    <tr>
        <td class="searchbody"><a class="tinybutton" href="{{ path('household_show', {'id':member.household.id}) }}">Select</a>
{% if member.household.active == 1 and newadd is not defined %}
            <a class="tinybutton" href="{{ path('contact_new', {'id':member.household.id    }) }}">Contact</a>
{% endif %}
</td>
        <td class="searchbody">{{ member.household.id }}
        <td class="searchbody">{% if member.household.active == 0 %}*{% endif %} {{ member.household.head.sname }}, {{ member.household.head.fname }}</td>
        <td class="searchbody">{% if member.dob %}{{ member.dob|date('m/d/Y') }}{% endif %}</td>
        <td class="searchbody">
        {% for address in member.household.addresses %}
        {{ address.line1 }}{% if address.city %}, {% endif %}{{ address.city }}<br>
        {% endfor %}
        </td>
    </tr>
{% endfor %}