{% block extends %}
{% verbatim %}
{% extends 'ManaClientBundle:Default:layout.html.twig' %}
{% endverbatim %}
{% endblock extends %}

{% block body %}
{{ "{% block body -%}" }}
<div class="title">{{ entity }} edit</div>
<div class="width40">
    {{ '{{ form(edit_form) }}' }}

    {% set hide_edit, hide_delete = true, true %}
    {% include 'crud/views/others/record_actions.html.twig.twig' %}
</div>
{{ "{% endblock %}" }}
{% endblock body %}