{% block extends %}
{% verbatim %}
{% extends 'ManaClientBundle:Default:layout.html.twig' %}
{% endverbatim %}
{% endblock extends %}

{% block body %}
{{ "{% block body -%}" }}
<div class="title">{{ entity }}</div>
<div class="width40">
    <table class="record_properties">
        <tbody>
        {%- for field, metadata in fields %}

            <tr>
                <th>{{ field|capitalize }}</th>

            {%- if metadata.type in ['date', 'datetime'] %}

                <td>{{ '{{ entity.' ~ field|replace({'_': ''}) ~ '|date(\'Y-m-d H:i:s\') }}' }}</td>

            {%- else %}

                <td>{{ '{{ entity.' ~ field|replace({'_': ''}) ~ ' }}' }}</td>

            {%- endif %}

            </tr>

        {%- endfor %}

        </tbody>
    </table>

    {% set hide_edit, hide_delete = false, true %}
    {% include 'crud/views/others/record_actions.html.twig.twig' %}
    </div>
{{ "{% endblock %}" }}
{% endblock body %}