<?xml version="1.0"?>
<pdf>
    <page  class="card">
        <table>
            <tr>
                <td width="2in" border.type="none">
                    <p>Name: {{ household.head.fname }} {{ household.head.sname }}<br />
                        ID: {{ household.id }}
                    </p>
                    Members:<br />
{% for member in household.members if member.id != household.hohId %}
			{{ member.fname }} {{ member.sname }} <br />
{% endfor %}
                </td>
                <td border.type="none">
                    <p>Distributions:</p>
                    <table>
                        <tr>
                            <td padding="2">Month</td>
                            <td padding="2" text-align="center">Week 1</td>
                            <td padding="2" text-align="center">Week 2</td>
                            <td padding="2" text-align="center">Week 3</td>
                            <td padding="2" text-align="center">Week 4</td>
                        </tr>
                        <tr>
                            <td padding="2">January</td>
                            <td padding="2"></td>
                            <td padding="2"></td>
                            <td padding="2"></td>
                            <td padding="2"></td>
                        </tr>
                        <tr>
                            <td padding="2">February</td>
                            <td padding="2"></td>
                            <td padding="2"></td>
                            <td padding="2"></td>
                            <td padding="2"></td>
                        </tr>
                        <tr>
                            <td padding="2">March</td>
                            <td padding="2"></td>
                            <td padding="2"></td>
                            <td padding="2"></td>
                            <td padding="2"></td>
                        </tr>
                        <tr>
                            <td padding="2">April</td>
                            <td padding="2"></td>
                            <td padding="2"></td>
                            <td padding="2"></td>
                            <td padding="2"></td>
                        </tr>
                        <tr>
                            <td padding="2">May</td>
                            <td padding="2"></td>
                            <td padding="2"></td>
                            <td padding="2"></td>
                            <td padding="2"></td>
                        </tr>
                        <tr>
                            <td padding="2">June</td>
                            <td padding="2"></td>
                            <td padding="2"></td>
                            <td padding="2"></td>
                            <td padding="2"></td>
                        </tr>
                        <tr>
                            <td padding="2">July</td>
                            <td padding="2"></td>
                            <td padding="2"></td>
                            <td padding="2"></td>
                            <td padding="2"></td>
                        </tr>
                        <tr>
                            <td padding="2">August</td>
                            <td padding="2"></td>
                            <td padding="2"></td>
                            <td padding="2"></td>
                            <td padding="2"></td>
                        </tr>
                        <tr>
                            <td padding="2">September</td>
                            <td padding="2"></td>
                            <td padding="2"></td>
                            <td padding="2"></td>
                            <td padding="2"></td>
                        </tr>
                        <tr>
                            <td padding="2">October</td>
                            <td padding="2"></td>
                            <td padding="2"></td>
                            <td padding="2"></td>
                            <td padding="2"></td>
                        </tr>
                        <tr>
                            <td padding="2">November</td>
                            <td padding="2"></td>
                            <td padding="2"></td>
                            <td padding="2"></td>
                            <td padding="2"></td>
                        </tr>
                        <tr>
                            <td padding="2">December</td>
                            <td padding="2"></td>
                            <td padding="2"></td>
                            <td padding="2"></td>
                            <td padding="2"></td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
        <br />
        <div text-align="center">{{ date|date('F d, Y') }}</div>
    </page>
</pdf>