<div class="section">Required Household Items</div>
<ul class="formblock">
    <li><b>Arrival (month/year):</b> {{ form_widget(form.arrivalmonth, {'attr': {'class':'smallform'} }) }}, {{ form_widget(form.arrivalyear, {'attr': {'class':'smallform'} }) }}</li>
    <li><b>Compliance: </b>{{ form_widget(form.compliance, {'attr': {'class':'smallform'} }) }}</li>
    <li><b>Compliance date: </b>{{ form_widget(form.complianceDate, {'attr': {'class':'smallform'} }) }}</li>
    <li><b>Shared: </b>{{ form_widget(form.shared, {'attr': {'class':'smallform'} }) }}</li>
    <li><b>Shared date: </b>{{ form_widget(form.sharedDate, {'attr': {'class':'smallform'} }) }}</li>
</ul>
