<div class="card">
    <div class="card-header bg-info">Addresses</div>
    {% if household.addresses|length > 0 %}
        {%for address in household.addresses%}
            <div class="card-body">
                <div class="col-lg-3">
                    <b>Address Type: </b>{{ address.addresstype.addresstype }}
                </div>
                <div class="col-lg-8">
                    <b>Address:</b> {{ address.line1 }}, {%if address.line2 is not null %}{{ address.line2 }}, {% endif%}
                    {% if address.city is not null %}{{ address.city }},  {%endif %}
                    {% if address.county.county is defined %}{{ address.county.county }} County, {% endif %}
                    {% if address.state.state is defined %}{{ address.state.state }}{% endif %} {{ address.zip }}
                </div>
            </div>
        {%endfor%}
    {% endif %}
</div>
