{%for address in form.addresses%}
    {% set type = address.vars.value.addresstype %}
    <div class="card-body">
        <div class="row">
            <div class="col-lg-2">
                <b>{{ type.addresstype }} Address:</b>
                <input type="hidden" name="household[addresses][{{ loop.index0 }}][addresstype]" value="{{ type.id }}">
            </div>
            <div class="col-lg-4">
                {{ form_row(address.line1) }}
            </div>
            <div class="col-lg-4">
                {{ form_row(address.line2) }}
            </div>
        </div>
        <div class="row">
            <div class="col-lg-2">
            </div>
            <div class="col-lg-2">
                {{ form_row(address.city) }}
            </div>
            <div class="col-lg-2">
                {{ form_row(address.county) }}
            </div>
            <div class="col-lg-2">
                {{ form_row(address.state) }}
            </div>
            <div class="col-lg-2">
                {{ form_row(address.zip) }}
            </div>
        </div>
    </div>
{%endfor%}
